@tailwind base;
@tailwind components;
@tailwind utilities;
@use "./assets/scss/fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body,
#root {
  height: 100vh;

  aside {
    height: 100vh;
  }
}

header {
  display: block;
  transition: 1s;

  .navbar-collapse {
    bottom: 100%;
  }

  .navbar-collapsed {
    bottom: 0;
  }
}

@media (min-width: 1200px) {
  header {
    bottom: -100%;
    
    ul {
      position: absolute;
      bottom: -100%;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
