@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;

  aside {
    height: 100vh;
  }
}


header {
  display: block;
  transition: 1s;

  .navbar-collapse {
    bottom: 100%;
  }
  
  .navbar-collapsed {
    bottom: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
